<h1>New post</h1>

<% if current_user&.admin? %>
  <%= render "form", post: @post %>
<% else %>
  <%= "plese login for this process" %>
<% end %>

<br>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
