<h1>New express</h1>

<% if current_user&.admin? %>
  <%= render "form", express: @express %>
<% else %>
  <%= "plese login for this process" %>
<% end %>
<br>

<div>
  <%= link_to "Back to expresses", expresses_path %>
</div>
