<div id="<%= dom_id daraz %>">
  <p>
    <strong>Title:</strong>
    <%= daraz.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= daraz.price %>
  </p>

  <p>
    <strong>Images:</strong>
    <%= image_tag(daraz&.images, size: "150x150") if daraz.images.present?%>
  </p>

</div>
