<h1>New daraz</h1>
<% if current_user&.admin? %>
  <%= render "form", daraz: @daraz %>
<% else %>
  <%= "plese login for this process" %>
<% end %>
<br>

<div>
  <%= link_to "Back to darazs", darazs_path %>
</div>
